/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Global Styles */

@font-face {
  font-family: 'robotocondensed';
  src: url('../fonts/roboto-condensed_0-webfont.eot');
  src: url('../fonts/roboto-condensed_0-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/roboto-condensed_0-webfont.woff') format('woff'),
  url('../fonts/roboto-condensed_0-webfont.ttf') format('truetype'),
  url('../fonts/roboto-condensed_0-webfont.svg#robotocondensed') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
}

body {
  /*padding-top: 50px; !* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. *!*/
}

.img-portfolio {
  margin-bottom: 30px;
}

.img-hover:hover {
  opacity: 0.8;
}

/* Home Page Carousel */

header.carousel {
  height: 50%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
  height: 100%;
}

header.carousel .fill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

/* 404 Page Styles */

.error-404 {
  font-size: 100px;
}

/* Pricing Page Styles */

.price {
  display: block;
  font-size: 50px;
  line-height: 50px;
}

.price sup {
  top: -20px;
  left: 2px;
  font-size: 20px;
}

.period {
  display: block;
  font-style: italic;
}

/* Footer Styles */

footer {
  margin: 50px 0;
}

/* Responsive Styles */

@media(max-width:991px) {
  .customer-img,
  .img-related {
    margin-bottom: 30px;
  }
}

@media(max-width:767px) {
  .img-portfolio {
    margin-bottom: 15px;
  }

  header.carousel .carousel {
    height: 70%;
  }
}

img.logo {
  max-width: 50%;
}

img.subLogo {
    max-width: 20%;
    padding-top: 25px;
}

.padTopBody {
  padding-top: 150px;
}

.padTopBodyMin {
  padding-top: 75px;
}

.centerAlign {
  text-align: center;
}

.panelLogin {
  background: #4681A9 !important;
  color: white !important;
  border: 0 !important;
  font-size: 16px;
}

.noBord {
  border: 0 !important;
  border-radius: 0px !important;
}

.panCol {
  background: #FECC00 !important;
}

.padManage {
  /*padding-left: 58px;*/
  padding-right: 105px;
}

.dhlControls {
  border-radius: 0 !important;
  padding: 3px;
  /*border: 0 !important;*/
}

.ddpad {
    padding: 3px;
}

.buttonAlignment {
  text-align: right;
}

.modwarn {
  background: #990000 !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 8px 30px !important;
  font-size: 16px !important;
}

.modsucc {
  background: #54A41F;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 8px 30px !important;
  font-size: 16px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  text-align: right;
  width: 100%;
}

.dhlHeader {
  background: #FFCC00 !important;
  border: 0 !important;
  border-radius: 0 !important;
  height: 50px !important;
}

.official {
  height: 50px !important;
  width: 320px !important;
  text-align: center !important;
  padding: 11px 50px !important;
}

img.pogo {
  max-width: 100%;
}

.floater {
  float: right !important;
}

.userName {
  color: #d21c1c !important;
  font-size: 18px !important;
}

.bog {
  color: white !important;
  font-size: 20px !important;
}

.ng-pageslide {
  background: #0f222f;
  top: 50px !important;
  color: white;
  /*width: 260px !important;*/
  box-shadow: 0 4px 2px 3px rgba(0, 0, 0, 0.24);
}

ul.sliderMenu {
  display: block;
  list-style: none;
  padding: 10px;
}

li.marTha {
  padding: 10px;
  border-bottom:1px solid #505050;
}

li.marThaLast {
  padding: 10px;

}

span.menuNav {
  margin-left: 15px;
  font-size: 14px;
}

ul.dhlPager {
  margin: 0 !important;
  float: right;
}

a.precise {
  margin-right: 5px;
  border: 0 !important;
  border-radius: 0 !important;
  background: #dd0011 !important;
  color: white !important;
}

a.active {
  background: #FF9900 !important;
}

.footerMain {
  /*position: absolute;
  position: relative;
      bottom: -90px;
      */
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 12px;
      padding-top: 10px;
      background: #1B3F79;
position: fixed;
    bottom: 0px;
    left: 0px;

}

img.beta {
  max-width: 3%;
}

img.theta {
  max-width: 7%;
}

.mainColFix{
  margin-bottom: 15px;
  text-align: right;
  padding-right: 43px !important;
}

.modsuccevent {
  background: #54A41F;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 5px 30px !important;
  font-size: 14px !important;
  margin-bottom:20px
}

.btn-grey {
  background: #CACACA !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 5px 30px !important;
  font-size: 14px !important;
  cursor: not-allowed;
}
{
  background-color: #F90 !important;
  color: white !important;
}


@media(max-width:885px) {
  .footerMain {
    text-align: center;
    width: 100%;
    font-size: 12px;
    position: inherit;
  }
}

.labelFix {
  padding: 0;
  font-size: 13px;
  margin-top: 3px;
  text-align: right;
}

.padRgtFix {
  padding-right: 0px !important;
  padding-left: 4px !important;
}

.more {
  height: 29px !important;
}

.formFix {
  float: left;
  width: 100%;
  margin-bottom: 3px !important;
}

.formAlignment {
  float: left;
  width: 100%;
  margin-top: 10px;
}

.modcanform {
  background: #CACACA !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 5px 20px !important;
  font-size: 14px !important;
  color: black;
}

.profcon {
  background: #FFCC00 !important;
  color: #504D4D;
  padding: 5px 30px !important;
}

.modsubform {
  background: #CACACA !important;
  border: 0 !important;
  border-radius: 0 !important;
  padding: 5px 20px !important;
  font-size: 14px !important;
  color: black;
}

.panelMain {
  background: #4681A9 !important;
  color: white !important;
  border: 0 !important;
  font-size: 14px;
  padding: 6px;
  border-radius: 0;
}

.basic {
  background: #F2F2F2;
  border: 1px solid #DEDEDE;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.sm {
  font-size: 13px;
}

.ssm {
  font-size: 12px;
}

td.radStyle {
  padding: 0px 5px !important;
}

/*#viewThree {*/
  /*background: white !important;*/
  /*float: left;*/
  /*padding: 5px;*/
  /*!*height:345px;*!*/
/*}*/

/*#viewOne {*/
  /*background: #FFF0B7;*/
  /*float: left;*/
  /*padding: 5px;*/
  /*!*height:345px;*!*/
/*}*/

.panFan {
  background: #D0D4D5 !important;
}

.banban {
  padding: 5px 10px 5px 5px !important;
}

.formBetAlignment {
  float: left;
  width: 100%;
  margin-top: 15px;
}

.cancol {
  background: red !important;
  color: white !important;
}

.subcol {
  background: #54A41F !important;
  color: white !important;
}

a.linkerlinks {
  color: white;
  text-decoration: none;
}

.small {
  cursor: not-allowed;
}

.panelSubMain {
  background: #4681A9 !important;
  color: white !important;
  border: 0 !important;
  font-size: 14px;
  padding: 10px;
  border-radius: 0;
}

ul.policy {
  padding: 30px 30px 285px 30px;
  font-size: 13px;
  line-height: 19px;
}

.bigPad {
  padding-top: 100px;
}


.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.72);
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px rgba(0, 0, 0, 0.09);
}
.ng-modal-dialog-content {
  /*padding:10px;*/
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
}

.onlyButClass {
  background: #CCCC00;
  border: 0;
  padding: 3px 8px;
  color: white;
}

/*added by souvick*/

In others.css add -

.marooned {
  background: #990000;
}

.paddingConstant {
  padding: 10px;
}

.noPad {
  padding: 0 !important;
}

.addSel {
  width: 100%;
  padding: 2px;
  font-size: 13px;
}
.padLftFix {
  padding-left: 0px !important;
}

.fullWidth {
  width: 100%;
}

.margTop {
  margin-top: 10px;
}

.fns {
  font-size: 16px;
}

.panWen {
  background: white;
}

td.bl {
  background-color: white !important;
}

.smore {
  border: 1px solid rgba(0, 0, 0, 0.28) !important;
}

.formInButFix {
  font-size: 12px;
  height: 26px;
}

.mapView {
  width: 100%;
  height: 170px;
  border: 1px solid rgba(128, 128, 128, 0.45);
}

.bigMapView {
  width: 100%;
  height: 385px;
  border: 1px solid rgba(128, 128, 128, 0.45);
}

.bigMargTop {
  margin-top: 30px;
}

.accordion {
  font-size: 14px;
  padding-left: 20px;
  margin: 10px 0px;
}

a.acc {
  color: black;
}

.accordion .active {
  background: none !important;
}

p.accordion-content {
  padding-left: 40px;
  font-size: 13px;
  line-height: 20px;
}














.marooned {
    background: #4681A9;
}

.paddingConstant {
  padding: 10px;
}

.noPad {
  padding: 0 !important;
}

.addSel {
    width: 100%;
    padding: 2px;
    font-size: 13px;
}
.padLftFix {
  padding-left: 0px !important;
}

.fullWidth {
  width: 100%;
}

.margTop {
  margin-top: 10px;
}

.fns {
  font-size: 16px;
}

.panWen {
  background: #D0D4D5;
  border: 0;
}

td.bl {
  background-color: white !important;
}

.smore {
  border: 1px solid rgba(0, 0, 0, 0.28) !important;
}

.formInButFix {
    font-size: 12px;
    height: 26px;
}

.mapView {
    width: 100%;
    height: 170px;
    border: 1px solid rgba(128, 128, 128, 0.45);
}

.bigMapView {
    width: 100%;
    height: 385px;
    border: 1px solid rgba(128, 128, 128, 0.45);
}

.bigMargTop {
  margin-top: 10px;
}

.accordion {
    font-size: 14px;
    padding-left: 20px;
    margin: 10px 0px;
}

a.acc {
    color: black;
}

.accordion .active {
  background: none !important;
}

p.accordion-content {
    padding-left: 40px;
    font-size: 13px;
    line-height: 20px;
}

button[disabled], html input[disabled] {
    cursor: default;
    color: grey !important;
}

ul.taber {
  list-style: none;
  padding: 0;
  margin: 0;
    float: left;
    width: 100%;
  background: #4681A9;
}

li.taberview {
    float: left;
    border-bottom-width: 0;
    /* margin: 3px 3px 0px 3px; */
    padding: 7px;
   /* background-color: #FDCA00;*/
    color: #fff;

    font-size: 13px;
    width: 33%;
    text-align: center;
    border:1px solid #fff;
    width:33.3%;
    -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
}
li.taberview.active {
background: #1B3F79;

}
#mainView {
  clear: both;
  padding: 5px;
  float: left;
  height: 380px;
  background: white;
  width: 100%;
}
.container{width:auto; margin:0 15px !important}


span.divbord{
 border-bottom: 1px solid;
     width: 26%;
     float: left;
     border-color: white;
     margin-left: 284px;
}


.remwhitebord {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.panWhite {
    background: white;
}

td {
    background: white !important;
    font-size: 13px;
}

.margBot {
    margin-bottom: 10px;
}

.floats {
    float: left;
    width: 100%;
}

.bluelcol {
    background: #219CD7;
    border: 0;
    padding: 5px;
    width: 100%;
}

.ddengue {
    background: #E8E8E8;
    color: rgba(45, 45, 45, 0.77);
    border: 1px solid rgba(0, 0, 0, 0.24) !important;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(35,47,62,.23);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/*end*/
